{% extends 'base.html' %}


{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}

{% endfor %}
<h1>Ученые отвергли гипотезу о ранней колонизации Австралии</h1>
<p>Ученые из университетов Ла Троба (Австралия) и Юты (США) проанализировали генетические данные современных жителей Австралии, Тасмании и Новой Гвинеи, и не нашли подтверждений гипотезе о прибытии человека в Сахул 65 тыс. лет назад.

Сахул — это древний палеоконтинент, существовавший во время последнего ледникового периода и объединявший территории современной Австралии, Тасмании и Новой Гвинеи. Считалось, что люди пришли туда около 65 тыс. лет назад. Доказательства были убедительными — стоянка Маджедбебе в Северной Австралии, возраст которой подтвержден несколькими методами, артефакт из смолы из пещеры Мололо (51 тыс. лет), наскальное искусство на острове Сулавеси (51,2 тыс. лет).

Однако новое генетическое исследование показало, что предки современных сахулийцев несут около 2% неандертальской ДНК — столько же, сколько и другие неафриканские народы. Это значит, что скрещивание с неандертальцами произошло до миграции в Азию и заселения Сахула. По данным других исследований, это событие случилось только один раз — в Европе, между 43,5 и 51,5 тыс. лет назад. Следовательно, попасть в Сахул раньше чем 50 тыс. лет назад эти люди просто не могли.</p>
{% endblock %}